html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f3f8f7 49.91%,
    #fff9f5 94.19%
  );
}

.container {
  position: relative;
  width: 1440px;
  min-height: 100vh;
  margin: auto;
  background: orangered;
}
